# Agregación de datos por categoría

Agregar datos significa combinar los datos con alggún criterio, el más típico es con una variable categórica, para agrupar todos los datos con una misma categoría.  (Cluster ¿?)

In [2]:
import numpy as np
import pandas as pd

In [3]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [5]:
#Creamos datos aleatorios para género y para ingresos
tamaño_data = 500  

gender_data = []
income_data = []

for i in range(0,tamaño_data):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [8]:
gender_data[1:10]

['Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female']

In [9]:
income_data[1:10]

['Rich',
 'Poor',
 'Rich',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Poor',
 'Poor']

In [10]:
# Ya podemos crear datos ya numéricos para altura, pesos, edad y valor ingresos. 
# Z -> N(0, 1)   pero podemos cambiar, recuerda  N(m, sd) = m + s * Z  (Distribucipon NORMAL con media m y SD sd)

height = 160 + 30 * np.random.randn(tamaño_data)
weight = 65 + 25 * np.random.randn(tamaño_data)
age = 30 + 12 * np.random.randn(tamaño_data)
income = 18000 + 3500 * np.random.randn(tamaño_data)

In [12]:
data = pd.DataFrame(
    {
        "Gender":gender_data, 
        "Economic Status": income_data, 
        "Height": height, 
        "Weight": weight, 
        "Age": age, 
        "Incom": income
    }
)

In [14]:
data.head()  # Ya podemos ver el dummy dataset creado!

   Gender Economic Status      Height     Weight        Age         Incom
0  Female    Middle Class  148.636197  28.335887  32.162108  16870.874759
1  Female            Rich  154.342966  80.050752  29.168510  11961.408017
2    Male            Poor  123.042122  87.956318  40.485877  17905.822771
3  Female            Rich  127.811926  75.077262  18.554687  10427.692374
4    Male    Middle Class  201.389432  20.238025  40.621374  24649.056464

## Agrupación de datos
Simplemente usamos <b>groupby</b>. Tener cuidado que esto lo que genera es un dato de tipo <b>DataFrameGroupBy</b> que tendrá dos atribos:
* El nombre 
* El index de cada valor

In [15]:
grouped_gender = data.groupby("Gender")

In [20]:
# acá podemos ver el los grupos y los index.
grouped_gender.groups

{'Female': Int64Index([  0,   1,   3,   9,  10,  11,  13,  15,  18,  21,
             ...
             486, 488, 490, 491, 492, 494, 495, 496, 497, 498],
            dtype='int64', length=256),
 'Male': Int64Index([  2,   4,   5,   6,   7,   8,  12,  14,  16,  17,
             ...
             473, 474, 475, 476, 480, 485, 487, 489, 493, 499],
            dtype='int64', length=244)}

In [21]:
#acá podemos ver los datos por cada uno de las agrupaciones complet
for names, groups in grouped_gender:  
    print(names)
    print(groups)

Female
     Gender Economic Status      Height      Weight        Age         Incom
0    Female    Middle Class  148.636197   28.335887  32.162108  16870.874759
1    Female            Rich  154.342966   80.050752  29.168510  11961.408017
3    Female            Rich  127.811926   75.077262  18.554687  10427.692374
9    Female            Poor  157.934029   64.578637  26.325178  17714.826252
10   Female            Rich  138.854331   90.717373  18.191405  15474.586766
11   Female    Middle Class  147.837680   84.035027  -4.790399  25730.021107
13   Female            Poor  236.675328   79.085740  28.321716  13163.808351
15   Female    Middle Class  177.884452   71.409135  17.787832  18421.885086
18   Female    Middle Class  200.038527   81.447138  39.600531  19309.063186
21   Female            Poor  134.472338   63.776038  62.944965  18981.045587
23   Female            Rich  134.162047   52.723210  27.856646  17652.917758
24   Female            Poor  167.052291   38.549702  27.561030  13117.544755
25   Female            Poor  109.156612   56.843348  34.752215  16499.883483
28   Female    Middle Class  220.575983   21.344947  16.700229  18360.015618
29   Female            Poor  186.950945   94.704999  32.283222  23639.587943
31   Female            Rich  169.118461   49.571422  35.313686  18671.425760
32   Female    Middle Class  175.657737   30.435681  40.363559  12560.773085
34   Female            Poor  102.128041   82.882133  36.891813  16440.034278
39   Female            Poor  124.261515   53.012629  23.517368  16809.034000
40   Female    Middle Class  131.459971   17.240251  42.670823  24100.335183
41   Female    Middle Class  157.654072   51.221900  43.300763  17329.311132
43   Female            Rich  138.077976   81.909609  39.908399  11113.905486
45   Female            Rich  178.674445   59.999497  25.238033  14491.438381
47   Female            Poor  157.041764   74.598926  21.110106  20887.713927
48   Female    Middle Class  143.304268  100.312165  25.278126  19030.487654
49   Female            Poor  164.192229   45.158651  52.967186  19483.588111
50   Female    Middle Class  160.202332   33.766923  15.940909  18172.856049
53   Female    Middle Class  137.931030   74.299772  34.166007  18558.388633
54   Female            Poor  162.873744   56.197626  52.034670  16502.528325
57   Female            Rich  206.508309  120.070732  22.469122  14236.382635
..      ...             ...         ...         ...        ...           ...
449  Female            Poor  146.553309   92.510982  30.438328  16582.844253
451  Female    Middle Class  180.342650  134.124727  40.715865  17665.439613
453  Female            Rich  195.652339   33.787102  21.522559  20534.520770
454  Female            Rich  154.952369   57.925943  -1.154840  18946.946306
456  Female            Rich  155.628625   74.989765  26.850152   8702.194212
459  Female            Rich  178.567107   55.802227  30.178992  15437.559829
460  Female            Poor  200.161337   65.765554  30.347959  15590.396978
462  Female            Rich  155.776229  103.993475  33.747047  17952.262744
465  Female            Poor   99.406808   30.576501  29.836566  16070.182799
468  Female            Rich  120.562250   52.865530  33.509198  18871.639947
469  Female    Middle Class  140.332450   76.382186  24.221807  14121.342646
471  Female            Rich  151.340258  158.519954  19.807651  13150.172176
472  Female            Poor  205.115443   63.703416  33.846223  18954.808369
477  Female            Poor  195.603751   39.051752  54.481257  17977.268245
478  Female            Poor  133.399590   52.300393  23.716764  17149.675246
479  Female            Rich  104.721086   73.162911  45.939422  21636.010225
481  Female    Middle Class  165.703957   57.697937  39.856413  17009.577019
482  Female            Poor  148.767164   82.856161  28.091118  22753.144412
483  Female            Rich  161.339845   93.160796  32.170726  18364.698627
484  Female            Poor  122.506014  103.815194  31.583083  13441.376762
486  Female            Poor  157.337495   84.557293  36.485133  20857.048713
488  Female            Poor  182.596213   41.188884  38.931682  16841.520652
490  Female    Middle Class  162.429208   50.110337  22.875417  18489.963608
491  Female            Rich  142.358818   48.842728  20.319158  15801.981016
492  Female            Poor  155.429142   48.960105  38.444567  26508.064935
494  Female            Poor  157.772298   45.472141  36.122659  16433.940328
495  Female            Poor  200.438058   94.893322   8.888956  19378.472735
496  Female            Poor  171.730335   43.412142  32.490628  14219.902372
497  Female    Middle Class  152.408505   57.243399  23.237643  16620.142932
498  Female    Middle Class  156.900662   54.265045  10.830049  19567.870946

[256 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight        Age         Incom
2     Male            Poor  123.042122   87.956318  40.485877  17905.822771
4     Male    Middle Class  201.389432   20.238025  40.621374  24649.056464
5     Male    Middle Class  157.161482   68.500916   5.879515  20371.260247
6     Male    Middle Class  184.331781   58.326561  38.652977  18341.541296
7     Male    Middle Class  141.366260  113.229220  45.203762  18079.059856
8     Male            Poor  132.883364   26.961726  20.637335  20805.288126
12    Male    Middle Class  152.643606    8.294313  33.636185   9036.640966
14    Male    Middle Class  169.568446   31.463064  34.705199  17338.104395
16    Male    Middle Class  194.460187   53.819866  39.916106  23002.588641
17    Male    Middle Class  155.230417   44.806384  20.768836  18699.847151
19    Male            Poor  144.154090   41.611894  27.553734  18579.771871
20    Male    Middle Class  141.488830   77.302554  26.012383  24805.790789
22    Male            Poor  151.479120   66.883325  36.089967  19158.402988
26    Male    Middle Class  176.275434   50.721501  32.269457  25142.297513
27    Male            Poor  164.553480   47.824943  45.042310  15659.406907
30    Male            Poor  136.236376   49.653205  29.775268  16531.553816
33    Male            Rich  169.516367   39.461957  21.593863  17877.810900
35    Male            Rich  228.503119   72.567272  29.668512  15891.091963
36    Male    Middle Class  130.148994   81.972297  50.373069  21439.131192
37    Male            Rich  137.322370   98.033586  20.603076  23117.881562
38    Male            Rich  178.182386   80.365767  34.225327  18926.067127
42    Male    Middle Class  123.448483   86.076549  38.658351  15806.363058
44    Male            Poor  195.107332   16.796448  17.716952  16271.248088
46    Male            Rich  145.201613  121.267118  26.596307  18253.561444
51    Male            Rich  161.159876   96.873207   3.233316  14216.801829
52    Male            Rich  173.203535   73.433107  21.264613  21668.173009
55    Male    Middle Class  204.007011   58.402256  10.837688  19686.427583
56    Male    Middle Class  179.879940   99.093553  23.549299  20692.202126
58    Male    Middle Class  180.349306   53.848097  55.005595  20931.348010
59    Male    Middle Class  165.049170   63.752162  24.413859  20996.124781
..     ...             ...         ...         ...        ...           ...
433   Male            Rich  153.227411  102.379623  24.865050  17051.676261
435   Male            Rich  166.619719   51.678169  19.946533  18069.404404
437   Male            Rich  180.754379   61.252229  33.136225  20150.632992
439   Male            Poor  139.691890   18.335866  15.326348  18997.221651
440   Male            Poor  165.723274   83.081694  21.434798  19468.234890
441   Male            Rich  124.641739   63.030197  40.042970  16390.791438
442   Male    Middle Class  192.024090   14.927881  52.030812  14284.150553
443   Male    Middle Class  183.193430   81.622726  11.300648  16642.171120
447   Male    Middle Class  125.749732   66.497728  23.231417  16565.036305
450   Male            Rich  152.636004   60.836586  17.613948  17971.652969
452   Male    Middle Class  193.254785  107.448051  26.550260  15103.170147
455   Male            Poor  158.928291   36.370035  16.153459  14007.062818
457   Male    Middle Class  201.190970   69.078758  32.911267  15870.961446
458   Male    Middle Class  197.035879   30.610086  55.879253  15964.293373
461   Male    Middle Class  167.387726   61.652763  23.290444  10658.623913
463   Male            Poor  132.065179   79.069375  23.634152  20193.718105
464   Male            Rich  184.915269   74.048789  14.898175  21269.401590
466   Male    Middle Class  177.399254   77.186352  31.145756   9138.291695
467   Male    Middle Class  167.996425   61.808548  26.906689  19503.182628
470   Male            Rich  138.307736    8.531792  39.610069  15714.188281
473   Male            Rich  144.851532   42.733868  18.505497  19133.307127
474   Male    Middle Class  156.978546   92.342129  27.697701  15066.297918
475   Male            Rich  175.742701   89.709346  21.764365  23583.106493
476   Male    Middle Class  147.337542   62.526269  30.389034  14555.451543
480   Male            Rich  208.828368   59.847953  24.678894  21144.358582
485   Male            Poor   92.135398   49.498605  33.991469  18303.830834
487   Male            Poor  157.253981   77.681951  54.769134  18538.225058
489   Male            Rich  141.758482   92.993602  41.821390  15153.153623
493   Male            Poor  162.547788   81.118798  31.215333  14496.943430
499   Male    Middle Class  197.936041   42.463694  38.813434  17209.503991

[244 rows x 6 columns]

In [22]:
# Si sólo quiero UNO de los grupos, lo podemos obtener de la siguiente manera, dándo el nombre del grupo que queremos: 
grouped_gender.get_group("Female")

     Gender Economic Status      Height      Weight        Age         Incom
0    Female    Middle Class  148.636197   28.335887  32.162108  16870.874759
1    Female            Rich  154.342966   80.050752  29.168510  11961.408017
3    Female            Rich  127.811926   75.077262  18.554687  10427.692374
9    Female            Poor  157.934029   64.578637  26.325178  17714.826252
10   Female            Rich  138.854331   90.717373  18.191405  15474.586766
11   Female    Middle Class  147.837680   84.035027  -4.790399  25730.021107
13   Female            Poor  236.675328   79.085740  28.321716  13163.808351
15   Female    Middle Class  177.884452   71.409135  17.787832  18421.885086
18   Female    Middle Class  200.038527   81.447138  39.600531  19309.063186
21   Female            Poor  134.472338   63.776038  62.944965  18981.045587
23   Female            Rich  134.162047   52.723210  27.856646  17652.917758
24   Female            Poor  167.052291   38.549702  27.561030  13117.544755
25   Female            Poor  109.156612   56.843348  34.752215  16499.883483
28   Female    Middle Class  220.575983   21.344947  16.700229  18360.015618
29   Female            Poor  186.950945   94.704999  32.283222  23639.587943
31   Female            Rich  169.118461   49.571422  35.313686  18671.425760
32   Female    Middle Class  175.657737   30.435681  40.363559  12560.773085
34   Female            Poor  102.128041   82.882133  36.891813  16440.034278
39   Female            Poor  124.261515   53.012629  23.517368  16809.034000
40   Female    Middle Class  131.459971   17.240251  42.670823  24100.335183
41   Female    Middle Class  157.654072   51.221900  43.300763  17329.311132
43   Female            Rich  138.077976   81.909609  39.908399  11113.905486
45   Female            Rich  178.674445   59.999497  25.238033  14491.438381
47   Female            Poor  157.041764   74.598926  21.110106  20887.713927
48   Female    Middle Class  143.304268  100.312165  25.278126  19030.487654
49   Female            Poor  164.192229   45.158651  52.967186  19483.588111
50   Female    Middle Class  160.202332   33.766923  15.940909  18172.856049
53   Female    Middle Class  137.931030   74.299772  34.166007  18558.388633
54   Female            Poor  162.873744   56.197626  52.034670  16502.528325
57   Female            Rich  206.508309  120.070732  22.469122  14236.382635
..      ...             ...         ...         ...        ...           ...
449  Female            Poor  146.553309   92.510982  30.438328  16582.844253
451  Female    Middle Class  180.342650  134.124727  40.715865  17665.439613
453  Female            Rich  195.652339   33.787102  21.522559  20534.520770
454  Female            Rich  154.952369   57.925943  -1.154840  18946.946306
456  Female            Rich  155.628625   74.989765  26.850152   8702.194212
459  Female            Rich  178.567107   55.802227  30.178992  15437.559829
460  Female            Poor  200.161337   65.765554  30.347959  15590.396978
462  Female            Rich  155.776229  103.993475  33.747047  17952.262744
465  Female            Poor   99.406808   30.576501  29.836566  16070.182799
468  Female            Rich  120.562250   52.865530  33.509198  18871.639947
469  Female    Middle Class  140.332450   76.382186  24.221807  14121.342646
471  Female            Rich  151.340258  158.519954  19.807651  13150.172176
472  Female            Poor  205.115443   63.703416  33.846223  18954.808369
477  Female            Poor  195.603751   39.051752  54.481257  17977.268245
478  Female            Poor  133.399590   52.300393  23.716764  17149.675246
479  Female            Rich  104.721086   73.162911  45.939422  21636.010225
481  Female    Middle Class  165.703957   57.697937  39.856413  17009.577019
482  Female            Poor  148.767164   82.856161  28.091118  22753.144412
483  Female            Rich  161.339845   93.160796  32.170726  18364.698627
484  Female            Poor  122.506014  103.815194  31.583083  13441.376762
486  Female            Poor  157.337495   84.557293  36.485133  20857.048713
488  Female            Poor  182.596213   41.188884  38.931682  16841.520652
490  Female    Middle Class  162.429208   50.110337  22.875417  18489.963608
491  Female            Rich  142.358818   48.842728  20.319158  15801.981016
492  Female            Poor  155.429142   48.960105  38.444567  26508.064935
494  Female            Poor  157.772298   45.472141  36.122659  16433.940328
495  Female            Poor  200.438058   94.893322   8.888956  19378.472735
496  Female            Poor  171.730335   43.412142  32.490628  14219.902372
497  Female    Middle Class  152.408505   57.243399  23.237643  16620.142932
498  Female    Middle Class  156.900662   54.265045  10.830049  19567.870946

[256 rows x 6 columns]

Se pueden hacer agrupaciones por más de una categoría. Se debe tener en cuenta que el número de agrupaciones resultantes es el número de valores que tenga cada categoría multiplicadas entre sí. Por ejemplo, si agrupamos por "Gender" y " Economic Status": 

* Gender tiene 2 categorías
* Economic Status tiene 3 categorías

El resultado de la agrupación serán: 

* 2 x 3 = 6.   6 Grupos.

In [23]:
#Acá el ejemplo en código de lo anterior: 
double_grouped = data.groupby(["Gender", "Economic Status"])

In [25]:
#Verificamos el tamaño y en efecto es el producto del tamaño de cada categoría
len(double_grouped)

6

In [26]:
# para poder verlos lo podemos ver igual que antes: 
for names, groups in double_grouped:  
    print(names)
    print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height      Weight        Age         Incom
0    Female    Middle Class  148.636197   28.335887  32.162108  16870.874759
11   Female    Middle Class  147.837680   84.035027  -4.790399  25730.021107
15   Female    Middle Class  177.884452   71.409135  17.787832  18421.885086
18   Female    Middle Class  200.038527   81.447138  39.600531  19309.063186
28   Female    Middle Class  220.575983   21.344947  16.700229  18360.015618
32   Female    Middle Class  175.657737   30.435681  40.363559  12560.773085
40   Female    Middle Class  131.459971   17.240251  42.670823  24100.335183
41   Female    Middle Class  157.654072   51.221900  43.300763  17329.311132
48   Female    Middle Class  143.304268  100.312165  25.278126  19030.487654
50   Female    Middle Class  160.202332   33.766923  15.940909  18172.856049
53   Female    Middle Class  137.931030   74.299772  34.166007  18558.388633
68   Female    Middle Class  195.355170  102.498788  42.940702  15423.682653
71   Female    Middle Class  187.390555   72.105327   9.567189  18566.797468
82   Female    Middle Class  210.252758   60.196701  51.300240  20960.031108
96   Female    Middle Class  137.365447  103.449843  39.546080  17565.120499
98   Female    Middle Class  172.375133    8.487421  13.443718  17284.490910
107  Female    Middle Class  186.662291   60.594979  47.706900  20411.128310
111  Female    Middle Class  165.784715   70.725318   8.182202  26282.438277
114  Female    Middle Class  147.854921   48.496531  24.719699  18926.661686
115  Female    Middle Class  112.947977   49.956654  20.288971  16766.991340
127  Female    Middle Class  176.679590   81.366444  14.241137  18450.314716
131  Female    Middle Class  118.282842   56.247193  30.533561  17548.856832
134  Female    Middle Class  115.449933  100.794975  19.938205  23216.974344
144  Female    Middle Class  131.416243   65.485714  17.189870  21165.439183
151  Female    Middle Class  162.389342   62.077341  27.934108  14206.879386
154  Female    Middle Class  157.403104   60.144230  36.043158  14933.841475
161  Female    Middle Class  138.018727   43.380907  34.346771  17087.543633
174  Female    Middle Class  114.416115  100.944682  46.350619  13298.413493
176  Female    Middle Class  143.772401   35.459575  28.608702  14923.243721
180  Female    Middle Class  157.443480   38.290680  62.873052  19374.097581
..      ...             ...         ...         ...        ...           ...
322  Female    Middle Class  144.161202   46.860644  20.687727  22948.926068
323  Female    Middle Class  180.078229   60.452082  26.434197  20148.293627
324  Female    Middle Class  167.002128   77.184505  28.305696  12977.388768
326  Female    Middle Class  174.321396   50.871913  26.800372  19204.185492
327  Female    Middle Class  178.848407   31.595155   8.308866  14492.818631
328  Female    Middle Class  124.851995   74.744008   4.695297  18160.887925
342  Female    Middle Class  181.378929   46.364410  15.136553  12329.834948
343  Female    Middle Class  170.996331   33.829109  38.998190  22813.901409
357  Female    Middle Class  169.475629   87.171394  32.093249  16877.765688
360  Female    Middle Class  127.600243   54.404480   9.906913  15939.012059
363  Female    Middle Class  116.323414   76.867720  38.372073  16207.616015
364  Female    Middle Class  178.990971   87.739862  29.113602  19217.428258
365  Female    Middle Class  127.927756   86.520985  40.391535  10637.144074
369  Female    Middle Class  140.269147   35.644219  15.155119  15967.390906
385  Female    Middle Class  135.693694   69.647227  31.330398  18697.464226
388  Female    Middle Class  129.896539  100.458229  20.732634  13473.859697
390  Female    Middle Class  149.438063   77.196563  21.141817  13558.462842
391  Female    Middle Class  162.440985   38.767981  28.174747  16074.137910
393  Female    Middle Class  132.217003   40.199035  39.799902  18810.732554
406  Female    Middle Class  184.294887  100.170673  33.180487  17916.602045
418  Female    Middle Class  138.690133   84.359631  43.532955  20616.676460
421  Female    Middle Class  141.032543   58.104643  46.490496  19664.746614
431  Female    Middle Class  153.819802   91.238758  33.566653  23470.307712
436  Female    Middle Class  161.656021  101.606511  46.785840  22168.908720
451  Female    Middle Class  180.342650  134.124727  40.715865  17665.439613
469  Female    Middle Class  140.332450   76.382186  24.221807  14121.342646
481  Female    Middle Class  165.703957   57.697937  39.856413  17009.577019
490  Female    Middle Class  162.429208   50.110337  22.875417  18489.963608
497  Female    Middle Class  152.408505   57.243399  23.237643  16620.142932
498  Female    Middle Class  156.900662   54.265045  10.830049  19567.870946

[82 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height      Weight        Age         Incom
9    Female            Poor  157.934029   64.578637  26.325178  17714.826252
13   Female            Poor  236.675328   79.085740  28.321716  13163.808351
21   Female            Poor  134.472338   63.776038  62.944965  18981.045587
24   Female            Poor  167.052291   38.549702  27.561030  13117.544755
25   Female            Poor  109.156612   56.843348  34.752215  16499.883483
29   Female            Poor  186.950945   94.704999  32.283222  23639.587943
34   Female            Poor  102.128041   82.882133  36.891813  16440.034278
39   Female            Poor  124.261515   53.012629  23.517368  16809.034000
47   Female            Poor  157.041764   74.598926  21.110106  20887.713927
49   Female            Poor  164.192229   45.158651  52.967186  19483.588111
54   Female            Poor  162.873744   56.197626  52.034670  16502.528325
60   Female            Poor  200.681551   80.666229  51.631697  15709.967584
70   Female            Poor  127.701690   85.349167  37.434120  21077.644566
73   Female            Poor  170.792785   61.826798  50.090108  18421.285500
74   Female            Poor  195.034543   88.875534  22.695590  15186.216098
81   Female            Poor  152.468847   63.849627  49.690341  20907.063752
83   Female            Poor  196.940366   46.033791  37.343590  21905.097935
85   Female            Poor  142.271838   74.457893  27.284277  14531.676738
88   Female            Poor  163.362088   21.006330  29.891397  16814.795059
103  Female            Poor  195.681643   83.686968  38.908720  21176.302870
104  Female            Poor  158.092777  100.190916  56.183878  17993.960131
106  Female            Poor  155.725266   53.911879  32.524079  12465.941858
109  Female            Poor  196.326079   58.465064  25.510537  18236.858497
113  Female            Poor  145.376867   48.980256  56.531729  17037.984491
124  Female            Poor  139.722403   41.220158  55.102041  16802.786208
125  Female            Poor  194.461992   77.502360  51.699331  21116.340189
130  Female            Poor  183.950793  101.042065  24.571505  15340.329102
133  Female            Poor  111.505014  103.540385  19.647349  13109.774809
138  Female            Poor  169.273027   76.713437  32.283274  22134.253723
142  Female            Poor  149.954191  110.469611   9.058529  18340.665858
..      ...             ...         ...         ...        ...           ...
372  Female            Poor  197.972751   91.494562  33.050187  23743.881349
374  Female            Poor  174.019020   69.139653  43.137516  15439.865107
376  Female            Poor  177.932852   54.894709  32.984776  18759.410531
380  Female            Poor  157.661194   64.635219  13.528372   9682.736158
382  Female            Poor  138.911347   66.608971  21.540351  25585.954736
389  Female            Poor  178.828804   78.780760  22.152465  19011.853638
395  Female            Poor  199.549087   30.610913  14.779513  20799.909571
398  Female            Poor  190.544155   67.554778  35.339089  17962.018883
399  Female            Poor  158.782313   92.190611  40.638605  14580.378865
402  Female            Poor  168.819589   25.087924  16.545580  18605.409392
404  Female            Poor  151.524607   81.151506  48.813049  18264.483912
408  Female            Poor  152.807917   36.494618  12.150378  22298.029503
444  Female            Poor  143.573749   92.876694  16.929041  24111.561106
445  Female            Poor  144.676146    8.213144  43.088785  22968.860312
446  Female            Poor  161.028744   76.176775  45.272566  22338.648261
448  Female            Poor  188.111790   21.550530  48.849828  21022.473239
449  Female            Poor  146.553309   92.510982  30.438328  16582.844253
460  Female            Poor  200.161337   65.765554  30.347959  15590.396978
465  Female            Poor   99.406808   30.576501  29.836566  16070.182799
472  Female            Poor  205.115443   63.703416  33.846223  18954.808369
477  Female            Poor  195.603751   39.051752  54.481257  17977.268245
478  Female            Poor  133.399590   52.300393  23.716764  17149.675246
482  Female            Poor  148.767164   82.856161  28.091118  22753.144412
484  Female            Poor  122.506014  103.815194  31.583083  13441.376762
486  Female            Poor  157.337495   84.557293  36.485133  20857.048713
488  Female            Poor  182.596213   41.188884  38.931682  16841.520652
492  Female            Poor  155.429142   48.960105  38.444567  26508.064935
494  Female            Poor  157.772298   45.472141  36.122659  16433.940328
495  Female            Poor  200.438058   94.893322   8.888956  19378.472735
496  Female            Poor  171.730335   43.412142  32.490628  14219.902372

[94 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weight        Age         Incom
1    Female            Rich  154.342966   80.050752  29.168510  11961.408017
3    Female            Rich  127.811926   75.077262  18.554687  10427.692374
10   Female            Rich  138.854331   90.717373  18.191405  15474.586766
23   Female            Rich  134.162047   52.723210  27.856646  17652.917758
31   Female            Rich  169.118461   49.571422  35.313686  18671.425760
43   Female            Rich  138.077976   81.909609  39.908399  11113.905486
45   Female            Rich  178.674445   59.999497  25.238033  14491.438381
57   Female            Rich  206.508309  120.070732  22.469122  14236.382635
63   Female            Rich  193.164352   50.998150  42.173932  15762.158556
78   Female            Rich  105.433611   70.578845  20.364182  15028.169501
84   Female            Rich  125.328949   29.086551  17.488618  19592.756521
90   Female            Rich  127.979898   76.752083  40.473744  17729.442982
91   Female            Rich  168.602647   59.442673  38.131527  14436.560040
92   Female            Rich  190.698530   75.483582  40.448286  15485.716389
95   Female            Rich  138.720136   73.243873  39.486621  16489.032689
101  Female            Rich  172.140060   68.389515  35.965880  18082.316565
108  Female            Rich  165.776043   71.143681  21.410832  23957.755972
120  Female            Rich  168.419581   39.836817  35.512106  17833.094694
126  Female            Rich  197.125128   57.174991  19.212985  20610.044738
150  Female            Rich  166.871397   53.074273  22.213518  21440.401995
152  Female            Rich  140.761998   71.206965  29.757736  22456.967725
153  Female            Rich  153.839497   51.062095  44.056397  18104.643583
155  Female            Rich  209.587030   64.045951  24.376258  26512.705428
156  Female            Rich  155.253643   72.971104  39.519944  15734.917635
163  Female            Rich  169.688449   44.099759  28.718526  17192.312550
168  Female            Rich  193.230732   72.699921  31.157155  24234.746783
177  Female            Rich  181.791172   36.802019  36.612173  17782.189501
183  Female            Rich  205.793174   84.627698  26.269936  19699.378727
185  Female            Rich  168.341848   61.421747  28.654103  23170.569574
198  Female            Rich  171.203938   93.555014  15.624921  16084.984930
..      ...             ...         ...         ...        ...           ...
305  Female            Rich  160.067191  103.840192  23.476514  19437.934103
306  Female            Rich  146.718685  103.234880  39.979518  16051.931359
310  Female            Rich  144.985184   39.586241  47.560805  18702.015119
319  Female            Rich  136.505000   86.147415  56.445745  18652.243998
332  Female            Rich  193.153027   72.109838  30.197858  22613.589684
333  Female            Rich  180.899980   43.528620  26.880034  16733.676567
345  Female            Rich  164.196173   92.911436  29.088316  16332.696061
346  Female            Rich  128.505198   53.241735  29.792019  16267.552827
358  Female            Rich  214.838574   42.590319  40.361328  23275.666560
362  Female            Rich  183.556430   85.703336  30.633841  15446.196539
368  Female            Rich  149.406326   46.804540  45.985898  19817.579882
386  Female            Rich  195.158033   75.719329  26.829738  16023.784963
401  Female            Rich  181.535734   53.525751  39.200278  16316.712091
414  Female            Rich  154.517483   92.834531  32.866124  12103.633961
417  Female            Rich  122.272482   31.018441  36.853264  12806.294096
423  Female            Rich  189.731311   85.001598   0.408201  22782.821258
426  Female            Rich  179.683651   77.589182  50.093552  16167.802313
430  Female            Rich  104.781517   74.475617   9.079236  16423.491574
434  Female            Rich  220.318857   32.325818  28.481855  21649.816471
438  Female            Rich  172.148206   97.743620  30.604026  17254.821946
453  Female            Rich  195.652339   33.787102  21.522559  20534.520770
454  Female            Rich  154.952369   57.925943  -1.154840  18946.946306
456  Female            Rich  155.628625   74.989765  26.850152   8702.194212
459  Female            Rich  178.567107   55.802227  30.178992  15437.559829
462  Female            Rich  155.776229  103.993475  33.747047  17952.262744
468  Female            Rich  120.562250   52.865530  33.509198  18871.639947
471  Female            Rich  151.340258  158.519954  19.807651  13150.172176
479  Female            Rich  104.721086   73.162911  45.939422  21636.010225
483  Female            Rich  161.339845   93.160796  32.170726  18364.698627
491  Female            Rich  142.358818   48.842728  20.319158  15801.981016

[80 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight        Age         Incom
4     Male    Middle Class  201.389432   20.238025  40.621374  24649.056464
5     Male    Middle Class  157.161482   68.500916   5.879515  20371.260247
6     Male    Middle Class  184.331781   58.326561  38.652977  18341.541296
7     Male    Middle Class  141.366260  113.229220  45.203762  18079.059856
12    Male    Middle Class  152.643606    8.294313  33.636185   9036.640966
14    Male    Middle Class  169.568446   31.463064  34.705199  17338.104395
16    Male    Middle Class  194.460187   53.819866  39.916106  23002.588641
17    Male    Middle Class  155.230417   44.806384  20.768836  18699.847151
20    Male    Middle Class  141.488830   77.302554  26.012383  24805.790789
26    Male    Middle Class  176.275434   50.721501  32.269457  25142.297513
36    Male    Middle Class  130.148994   81.972297  50.373069  21439.131192
42    Male    Middle Class  123.448483   86.076549  38.658351  15806.363058
55    Male    Middle Class  204.007011   58.402256  10.837688  19686.427583
56    Male    Middle Class  179.879940   99.093553  23.549299  20692.202126
58    Male    Middle Class  180.349306   53.848097  55.005595  20931.348010
59    Male    Middle Class  165.049170   63.752162  24.413859  20996.124781
61    Male    Middle Class  139.915803   55.737024  46.473499  20475.616691
62    Male    Middle Class  171.600328   76.979865  28.515141  16811.293525
64    Male    Middle Class  191.939893   51.400934  59.877365  15169.278114
67    Male    Middle Class  166.527301   53.681027  30.865639  13551.530782
69    Male    Middle Class  135.137468   36.252766  21.153251  21023.162741
79    Male    Middle Class  146.752955  100.392933  19.738734  23347.187550
80    Male    Middle Class  212.520597  113.262901  28.144667  15255.610377
97    Male    Middle Class  144.097987   56.141284  37.509724  17062.598706
100   Male    Middle Class  126.379468   55.549450  42.223879  14583.272916
102   Male    Middle Class  145.058092   45.588191  50.896351  18136.210792
110   Male    Middle Class  211.144332   55.849655  51.879585  22231.979936
118   Male    Middle Class  168.774773   31.514487  47.267724  15459.423641
121   Male    Middle Class  143.574127  120.546018  38.851193  12992.176697
136   Male    Middle Class  148.137113   85.827166  39.700168  18550.806185
..     ...             ...         ...         ...        ...           ...
303   Male    Middle Class  163.606005   83.195337  41.443981  22267.269418
304   Male    Middle Class  140.260602   66.588294  23.535543  18756.548529
307   Male    Middle Class  150.530210   58.739054  54.966424  20215.696082
309   Male    Middle Class  119.691927   43.701329  54.604515  22494.259551
337   Male    Middle Class  173.759244   51.319203  42.101693  16837.637206
338   Male    Middle Class  123.117109   53.936015  10.683836  16807.184947
339   Male    Middle Class  115.642507   64.923125  38.870021  22213.312174
340   Male    Middle Class  145.975557   64.916323  23.055902  21094.107494
351   Male    Middle Class  174.587498   48.059434  44.574250  22012.578044
354   Male    Middle Class  120.377056  101.505141  31.687418  15647.368604
370   Male    Middle Class  150.845700   55.484866  29.060261  16484.575054
373   Male    Middle Class  170.469507   67.340781  25.133734  23883.885516
400   Male    Middle Class  120.306863   81.016024  32.872027  18533.794112
403   Male    Middle Class  209.579153   14.057789  33.907526  18502.152753
410   Male    Middle Class  156.163003   61.204864  35.032434  13008.927865
413   Male    Middle Class  142.146430  101.947335  53.336866  19758.353035
424   Male    Middle Class  137.915441   92.995967  31.310228  16866.544875
432   Male    Middle Class  195.201287   11.330602  36.570059  23037.469812
442   Male    Middle Class  192.024090   14.927881  52.030812  14284.150553
443   Male    Middle Class  183.193430   81.622726  11.300648  16642.171120
447   Male    Middle Class  125.749732   66.497728  23.231417  16565.036305
452   Male    Middle Class  193.254785  107.448051  26.550260  15103.170147
457   Male    Middle Class  201.190970   69.078758  32.911267  15870.961446
458   Male    Middle Class  197.035879   30.610086  55.879253  15964.293373
461   Male    Middle Class  167.387726   61.652763  23.290444  10658.623913
466   Male    Middle Class  177.399254   77.186352  31.145756   9138.291695
467   Male    Middle Class  167.996425   61.808548  26.906689  19503.182628
474   Male    Middle Class  156.978546   92.342129  27.697701  15066.297918
476   Male    Middle Class  147.337542   62.526269  30.389034  14555.451543
499   Male    Middle Class  197.936041   42.463694  38.813434  17209.503991

[86 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height      Weight        Age         Incom
2     Male            Poor  123.042122   87.956318  40.485877  17905.822771
8     Male            Poor  132.883364   26.961726  20.637335  20805.288126
19    Male            Poor  144.154090   41.611894  27.553734  18579.771871
22    Male            Poor  151.479120   66.883325  36.089967  19158.402988
27    Male            Poor  164.553480   47.824943  45.042310  15659.406907
30    Male            Poor  136.236376   49.653205  29.775268  16531.553816
44    Male            Poor  195.107332   16.796448  17.716952  16271.248088
65    Male            Poor  140.727129   73.660206  28.719615  18708.716073
77    Male            Poor  197.749337   82.182125  25.426667  13046.356063

[86 rows x 6 columns]
('Male', 'Rich')
    Gender Economic Status      Height      Weight        Age         Incom
33    Male            Rich  169.516367   39.461957  21.593863  17877.810900
35    Male            Rich  228.503119   72.567272  29.668512  15891.091963
37    Male            Rich  137.322370   98.033586  20.603076  23117.881562
38    Male            Rich  178.182386   80.365767  34.225327  18926.067127
46    Male            Rich  145.201613  121.267118  26.596307  18253.561444
51    Male            Rich  161.159876   96.873207   3.233316  14216.801829
52    Male            Rich  173.203535   73.433107  21.264613  21668.173009
66    Male            Rich  151.825709   73.328143  16.685593  21278.748756
72    Male            Rich  159.708155   37.019641  14.208269  20692.923380
75    Male            Rich  118.280471  108.135530  27.397651  16608.599221
76    Male            Rich  153.842618   59.694219  35.953753  13811.461872
86    Male            Rich  174.267792   43.240951  31.441827  14737.732161
116   Male            Rich  156.041048   59.790398  40.536766  17376.046857
122   Male            Rich  161.520652   34.674484  32.391056  17789.798694
123   Male            Rich  164.289833   50.544933  24.821214  14417.769918
129   Male            Rich  188.166413   92.382741   6.406037  20604.991334
139   Male            Rich  154.059873   39.716988  43.639158  21393.310314
143   Male            Rich  172.046683  110.701342  42.855013  21347.724697
145   Male            Rich  165.124865   74.981732  17.473372  16856.420709
147   Male            Rich  164.039196   74.690542  15.061745  13371.139104
166   Male            Rich   78.172047   21.470019  16.367887  18063.590771
184   Male            Rich  185.682964   43.285147  37.271691  20353.571883
186   Male            Rich  129.695208   31.765114  51.560953  17184.501457
187   Male            Rich  133.558625   66.168265  34.645072  19931.557028
202   Male            Rich  193.887013   70.612884  34.507436  17822.437892
211   Male            Rich  179.542556   42.367758  28.403978  24529.536793
212   Male            Rich   85.452652   54.240757   6.312894  16913.994743
219   Male            Rich  135.406978   92.490240   3.421151  15003.998833
221   Male            Rich  121.638878   51.084765  27.636318  17509.873744
230   Male            Rich  122.300336   93.090782  23.717534  18159.690672
..     ...             ...         ...         ...        ...           ...
318   Male            Rich  147.707582   78.497515  36.293764  15520.520364
320   Male            Rich  171.229472   50.925460  18.897519  19051.882948
329   Male            Rich  150.273297   80.947991  10.252250  17332.855124
344   Male            Rich  129.162138   74.034726  30.166655  14093.199008
355   Male            Rich  180.188174   66.349822  40.871364  17154.836917
356   Male            Rich  124.109970   77.306176  28.842118  16257.997772
359   Male            Rich  178.576599   51.092488  18.492873   9038.274411
367   Male            Rich  130.536165   46.109573  41.488242  22291.118711
375   Male            Rich  151.937702   92.278099  32.154212  14944.973477
378   Male            Rich  181.625579   69.442872  27.857967  17831.538940
379   Male            Rich   85.112042   54.578334  48.943097  17338.170386
381   Male            Rich  115.790882   97.127644  22.321552   9687.602372
384   Male            Rich  169.068688    9.979006  14.126554  18928.826358
397   Male            Rich   97.021997   47.214832  12.600828  19016.049099
405   Male            Rich  183.690090   67.447734  35.283465  22552.396547
412   Male            Rich  153.104817   35.684612  23.639051  12866.409944
416   Male            Rich  152.197552   47.361425  29.654730  11927.339001
425   Male            Rich  162.243015   90.386692  20.021114  21911.128219
427   Male            Rich  209.997444  103.826682  30.900633  18005.571755
433   Male            Rich  153.227411  102.379623  24.865050  17051.676261
435   Male            Rich  166.619719   51.678169  19.946533  18069.404404
437   Male            Rich  180.754379   61.252229  33.136225  20150.632992
441   Male            Rich  124.641739   63.030197  40.042970  16390.791438
450   Male            Rich  152.636004   60.836586  17.613948  17971.652969
464   Male            Rich  184.915269   74.048789  14.898175  21269.401590
470   Male            Rich  138.307736    8.531792  39.610069  15714.188281
473   Male            Rich  144.851532   42.733868  18.505497  19133.307127
475   Male            Rich  175.742701   89.709346  21.764365  23583.106493
480   Male            Rich  208.828368   59.847953  24.678894  21144.358582
489   Male            Rich  141.758482   92.993602  41.821390  15153.153623

[72 rows x 6 columns]